<div flex-sm="5" flex="10" flex-lg="30" flex-gt-lg="33"></div>
<div flex-sm="90" flex="80" flex-lg="40" flex-gt-lg="33">
  <md-content>
    <md-card class="main">
      <md-toolbar class="md-accent">
        <h2 class="md-toolbar-tools">
          <span>{{ 'resetPasswordTitle' | translate }}</span>
        </h2>
      </md-toolbar>
      <form name="passwordResetForm" class="groupeat-form" novalidate>
        <md-input-container>
          <label>{{ 'email' | title }}</label>
          <input
            name="email"
            type="email"
            ng-model="vm.email"
            required
          />
        </md-input-container>
        <md-input-container>
          <label>{{ 'password' | title }}</label>
          <input
            name="password"
            type="password"
            ng-model="vm.password"
            required
            ng-minlength="6"
            ng-minlength-err-type="passwordMinLength"
          />
        </md-input-container>
        <md-input-container>
          <label>{{ 'passwordConfirmation' | title }}</label>
          <input
            name="passwordConfirmation"
            type="password"
            ng-model="vm.passwordConfirmation"
            match="vm.password"
            match-err-type="passwordConfirmationMatch"
          />
        </md-input-container>
        <section layout="row" layout-sm="column" layout-align="center center">
          <button
            class="groupeat-submit md-raised md-primary md-button md-default-theme"
            ng-click="vm.resetPassword()"
            ng-disabled="passwordResetForm.$invalid"
          />
            <span>{{ 'confirm' | translate }}</span>
          </button>
        </section>
      </form>
    </md-card>
  </md-content>
</div>
