<md-card class="responsive-table-card">
  <div class="table-responsive-vertical">
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th ng-repeat="header in [
            'id',
            'productFormatsCount',
            'discountRate',
            'totalDiscountedPrice',
            'createdAt',
          ]">
            {{ header | title }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="groupOrder in vm.groupOrders"
            ng-class="(groupOrder.confirmed ? 'closed' : (groupOrder.unconfirmed ? 'unconfirmed' : 'opened'))
              + '-group-order'"
            ui-sref="dashboard.groupOrder({groupOrderId: groupOrder.id})">
          <td data-title="{{ 'id' | title }}">
            {{ groupOrder.id }}
          </td>
          <td data-title="{{ 'productFormatsCount' | title }}">
            {{ groupOrder.productFormatsCount }}
          </td>
          <td data-title="{{ 'discountRate' | title }}">
            {{ groupOrder.discountRate }} %
          </td>
          <td data-title="{{ 'totalDiscountedPrice' | title }}">
            {{ groupOrder.totalDiscountedPrice.toString() }}
          </td>
          <td data-title="{{ 'createdAt' | title }}">
            <time-ago date="groupOrder.createdAt" />
          </td>
          <td data-title="{{ 'closedAt' | title }}">
            <time-ago date="groupOrder.closedAt || groupOrder.endingAt" />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</md-card>
