<md-card>
  <form name="pushExternalOrderForm" class="groupeat-form" novalidate>
    <h4 class="md-title">
      <i class="material-icons">contact_phone</i>
      {{ 'clientDetails' | title }}
    </h4>
    <div layout="column" layout-gt-md="row">
      <md-input-container flex="40">
        <label>{{ 'firstName' | title }}</label>
        <input
          name="firstName"
          type="text"
          ng-model="vm.customer.firstName"
          required
        />
      </md-input-container>
      <md-input-container flex="40">
        <label>{{ 'lastName' | title }}</label>
        <input
          name="lastName"
          type="text"
          ng-model="vm.customer.lastName"
          required
        />
      </md-input-container>
      <md-input-container flex="20">
        <label>{{ 'phoneNumber' | title }}</label>
        <input
          name="phoneNumber"
          type="tel"
          ng-model="vm.customer.phoneNumber"
          required
          pattern="\d{10}"
          pattern-err-type="phoneNumberPattern"
        />
      </md-input-container>
    </div>
    <h4 class="md-title">
      <i class="material-icons">assignment</i>
      {{ 'orderDetails' | title }}
    </h4>
    <div layout="column" layout-gt-md="row">
      <ordered-product-formats flex available="vm.availableProductFormats" ordered="vm.orderedProductFormats" />
    </div>
    <br />
    <br />
    <div layout="column" layout-gt-md="row">
      <address-autocomplete flex required address="vm.deliveryAddress" />
    </div>
    <div layout="column" layout-gt-md="row">
      <md-input-container flex>
        <label>{{ 'addressDetails' | title }}</label>
        <input
          name="deliveryAddressDetails"
          type="text"
          ng-model="vm.deliveryAddressDetails"
        />
      </md-input-container>
    </div>
    <md-input-container class="md-block">
      <label>{{ 'optionalComment' | title }}</label>
      <input
        name="comment"
        type="text"
        ng-model="vm.comment"
        md-maxlength="100"
        md-maxlength-err-type="orderCommentMaxLength"
      />
    </md-input-container>
    <section layout="row" layout-sm="column" layout-align="center center">
      <button
        class="groupeat-submit md-raised md-button md-primary"
        ng-click="vm.pushOrder()"
        ng-disabled="pushExternalOrderForm.$invalid || !vm.deliveryAddress"
      />
        <span>{{ 'confirm' | translate }}</span>
      </button>
    </section>
  </form>
</md-card>
