<md-card>
  <form name="pushExternalOrderForm" class="groupeat-form" novalidate>
    <h4 class="md-title">
      <i class="material-icons">contact_phone</i>
      {{ 'clientDetails' | title }}
    </h4>
    <div layout="column" layout-gt-md="row">
      <md-input-container flex="40">
        <label>{{ 'firstName' | title }}</label>
        <input name="firstName"
               type="text"
               ng-model="vm.customer.firstName"
               required>
      </md-input-container>
      <md-input-container flex="40">
        <label>{{ 'lastName' | title }}</label>
        <input name="lastName"
               type="text"
               ng-model="vm.customer.lastName"
               required>
      </md-input-container>
      <md-input-container flex="20">
        <label>{{ 'phoneNumber' | title }}</label>
        <input name="phoneNumber"
               type="tel"
               ng-model="vm.customer.phoneNumber"
               required
               pattern="\d{10}"
               pattern-err-type="phoneNumberPattern">
      </md-input-container>
    </div>
    <h4 class="md-title">
      <i class="material-icons">assignment</i>
      {{ 'orderDetails' | title }}
    </h4>
    <div layout="column" layout-gt-md="row" ng-repeat="productFormat in vm.productFormats">
      <div flex="15">
        <md-button ng-disabled="$index === (vm.productFormats.length - 1)"
                   ng-click="vm.removeProductFormat($index)">
          <md-tooltip>{{ 'removeProductFormat' | title }}</md-tooltip>
          <i class="material-icons">remove_circle_outline</i>
        </md-button>
      </div>
      <md-autocomplete flex="55" md-floating-label="{{ 'addProduct' | title }}"
                       md-selected-item="productFormat.format"
                       md-search-text-change="vm.filterProductFormats(productFormat.search)"
                       md-selected-item-change="vm.productFormatChanged($index, item, productFormat.quantity)"
                       md-search-text="productFormat.search"
                       md-items="item in vm.filterProductFormats(productFormat.search)"
                       md-item-text="item.text"
                       md-min-length="0"
                       required>
        <md-item-template>
          <span md-highlight-text="productFormat.search" md-highlight-flags="^i">{{ item.text }}</span>
        </md-item-template>
      </md-autocomplete>
      <md-input-container flex="30">
        <label>{{ 'productFormatQuantity' | title }}</label>
        <input name="quantity"
               type="number"
               ng-model="productFormat.quantity"
               min="1"
               required>
      </md-input-container>
    </div>
    <div layout="column" layout-gt-md="row">
        <md-autocomplete flex md-floating-label="{{ 'deliveryAddress' | title }}"
                         md-no-cache="true"
                         md-selected-item="vm.deliveryAddress"
                         md-search-text-change="vm.searchAddress(vm.deliveryAddressSearchText)"
                         md-selected-item-change="vm.deliveryAddressChanged(item)"
                         md-search-text="vm.deliveryAddressSearchText"
                         md-items="item in vm.searchAddress(vm.deliveryAddressSearchText)"
                         md-item-text="item.text"
                         md-min-length="1"
                         required>
          <md-item-template>
            <span md-highlight-text="vm.deliveryAddressSearchText" md-highlight-flags="^i">{{ item.text }}</span>
          </md-item-template>
          <md-not-found>{{ 'noAddressFound' | translate }}</md-not-found>
        </md-autocomplete>
      <md-input-container flex>
        <label>{{ 'addressDetails' | title }}</label>
        <input name="deliveryAddressDetails"
               type="text"
               ng-model="vm.deliveryAddressDetails">
      </md-input-container>
    </div>
    <md-input-container flex>
      <label>{{ 'optionalComment' | title }}</label>
      <input name="comment"
             type="text"
             ng-model="vm.comment"
             md-maxlength="100"
             md-maxlength-err-type="orderCommentMaxLength">
    </md-input-container>
    <section layout="row" layout-sm="column" layout-align="center center">
      <button class="groupeat-submit md-raised md-button md-primary"
              ng-click="vm.pushOrder()"
              ng-disabled="pushExternalOrderForm.$invalid || !vm.deliveryAddress">
        <span>{{ 'confirm' | translate }}</span>
      </button>
    </section>
  </form>
</md-card>
