@import 'variables';
@import 'table';

body, #ui-router-container {
    background-color: $body-background-color;
}

@media screen and (orientation: portrait) {
    #showcase-logo {
        max-width: 90%;
    }
}

@media screen and (orientation: landscape) {
    #showcase-logo {
        max-height: 80%;
    }
}

#showcase-logo {
    position: absolute;
    max-width: 90%;
    top: 5%;
    left: 5%;
}

#showcase-logo:empty {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

md-card {
    background-color: #fff;
}

md-card.main {
  margin-top: 10em;
}

md-content.md-default-theme {
    background-color: transparent !important;
}

md-select {
    width: 100%;
    margin-bottom: 25px;
}

md-select-menu {
    background-color: #ffffff;
}

#dashboard-content {
  background-color: $body-background-color !important;

  md-toolbar {
    background-color: grey;
  }
}

.groupeat-form {
    padding: 8px;
}

.groupeat-submit {
    width: 100%;
    height: 45px;
}

#loading-bar {
  .bar {
    background: $loading-bar-color;
  }

  .peg {
    -moz-box-shadow: $loading-bar-color 1px 0 6px 1px;
    -ms-box-shadow: $loading-bar-color 1px 0 6px 1px;
    -webkit-box-shadow: $loading-bar-color 1px 0 6px 1px;
    box-shadow: $loading-bar-color 1px 0 6px 1px;
  }
}

md-sidenav.md-sidenav-left {
  text-align: center;

  width: $left-sidenav-width;
  min-width: $left-sidenav-width;
  max-width: $left-sidenav-width;

  a {
    margin: 0px auto;
  }
}

.material-icons {
  vertical-align: middle;
}

#profile-menu {
  margin: 0;
  background-color: $primary-color;
}

#profile-menu-content {
  .md-button {
    display: block;
  }
}

.responsive-table-card {
  background-color: transparent !important;
  box-shadow: none;
}

.time-ago, .foodrush-progress {
  cursor: pointer;
}

tr.unconfirmed-group-order {
  background-color: $accent-color;
}

tr.closed-group-order {
  background-color: $primary-color;
}
